.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
    padding: 25px;
}
a{text-decoration: none; color: white;}
.menu a:hover{color:gold;}
body{background-color: whitesmoke;}

.bodyImg{
    position: relative;
}
#bg{
    margin-bottom: 50px;
}
#main{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-family: cursive;
}
#subtext{
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: cursive;
}

.grid{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin:15px
}

.grid img{
    border: 2px solid black;
    border-radius: 50px;
}

.origami{

    width: 310px;
    background-color: white;
    border-radius: 20px;
    font-family: fantasy;
    margin:10px 10px;
    text-align: center;
    padding: 10px;
}
.origami li{
    text-align: left;
}